:root {
  --primary: aliceblue;
  --secondary: steelblue;
  font-family: "DM Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

/* ICONS */
.fa-search:before {
  color: var(--primary);
}

/* HEADER SECTION STARTS */
.hero {
  padding: 3% 4%;
  background-color: var(--secondary);
  color: var(--primary);
  text-align: center;
}

h1 {
  font-weight: 700;
  margin: 0;
  line-height: 1.25;
}
h2 {
  padding-top: 5%;
}
.card p {
  font-size: 10pt;
}

.app-title {
  font-size: 3rem;
  background-color: var(--primary);
  color: var(--secondary);
  padding: 0 10px;
  display: inline-block;
}
.btn {
  background-color: var(--secondary);
}

/* HEADER ENDS */

/* MAIN SECTION STARTS */
.flex-row {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px;
  width: 94%;
}
.search-history {
  display: flex;
  flex-direction: column;
}

.component {
  flex: 0 0 100%;
  flex: 0 0 calc(100% * 4 / 12 - 2%);
}

.card-header {
  background-color: var(--dark);
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.align-center {
  align-items: center;
}
.justify-space-between {
  justify-content: space-between;
}

.details {
  margin-left: 20px;
  padding: 16px;
}

.list-item {
  margin-bottom: 10px;
  padding: 1.5%;
  background-color: var(--primary);
  color: black;
  text-decoration: none;
}
.card-body {
  padding-bottom: 20px;
}
/* Float four columns side by side */
.column {
  float: left;
  width: fit-content;
  padding-right: 10px;
}

.row {
  display: flex;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  color: var(--primary);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 3pt 30pt 14pt 16pt;
  text-align: left;
  background-color: var(--secondary);
}
